
@{
    ViewBag.Title = "Acknowledgment";
}
<body style="        background-image: url(https://cdn.wallpapersafari.com/50/88/eFPc6D.jpg);
        background-repeat: no-repeat;
        background-size: cover;">
</body>

<h1 style="text-align:center">Acknowledgment Page</h1>
<div class="row">
    
        <h3 style="text-align:center">
            We are deeply grateful to every website that helped us to take images, phrases or texts and use
            it in our website. We would not have styled the website in such a beatiful way without the help of them. We want to thank each on of you to give us the oppurtinity
            to learn from you.
        </h3>
   

   
</div>
<div class="row">

    <p style="text-align:center">Thank you <a href="https://www.needpix.com"> www.needpix.com</a></p>
    <p style="text-align:center">Thank you <a href="https://cdn.wallpapersafari.com/50/88/eFPc6D.jpg">cdn.wallpapersafari.com</a></p>
    <p style="text-align:center">Thank you <a href="https://dnd.wizards.com">dnd.wizard</a></p>
    <p style="text-align:center">Thank you <a href="https://www.dnd5eapi.co"> www.dnd5eapi.co</a></p>
    



</div>
