
@{
    ViewBag.Title = "Acknowledgment";
}
<body style="        background-image: url(https://cdn.wallpapersafari.com/50/88/eFPc6D.jpg);
        background-repeat: no-repeat;
        background-size: cover;">
</body>

<h1 style="text-align:center">Acknowledgment Page</h1>
<div class="row">
    <h3>Thanks to Western Oregon University, especially computer science department, we were able to build this website. 
    We are grateful to be taught  by great mentors, Dr.Becka Morgan and Dr.Scot Morse. They taught us software engineer classes, CS460, CS461 and CS462.
    We would not have accomplished this without their help and their continuous support throughout the terms.
    Thanks to The computer science department, we were able to learn different programming languages every class by great professors and doctors.
    We as students before being developers have had an amazing and unforgetable experience in this great department. 
    </h3>

    <h3>Please visit their <a href="https://wou.edu/"> site </a> if you are interested. You will not regret it!</h3>
    <h3>If you want to visit the department of computer science, please click <a href="https://wou.edu/cs/">here.</a> We are postive you will enjoy the programs they are offering.</h3>
</div>
<div class="row">
    
        <h3 style="text-align:center">
            We are deeply grateful to every website that helped us to take images, phrases or texts and use
            it in our website. We would not have styled the website in such a beatiful way without the help of them. We want to thank each on of you to give us the oppurtinity
            to learn from you.
        </h3>
   

   
</div>
<div class="row">
    <h3 style="text-align:center">
        A platform like Slack has helped us to communicate with each other and it has offered us an easy way to check on each other whenever needed.
        It has been one of the most useful tools that we used since we started building the site. It has all the important tools we needed like sharing documents, uploading pictures and sharing videos.
        Slack is a big part of our project and we must not forget to mention how grateful we are to such a good platfrom like slack.
       
    </h3>
    <p style="text-align:center">Thank you <a href="https://slack.com/"> Slack</a></p>
    <p style="text-align:center">Thank you <a href="https://www.needpix.com"> www.needpix.com</a></p>
    <p style="text-align:center">Thank you <a href="https://cdn.wallpapersafari.com/50/88/eFPc6D.jpg">cdn.wallpapersafari.com</a></p>
    <p style="text-align:center">Thank you <a href="https://dnd.wizards.com">dnd.wizard</a></p>
    <p style="text-align:center">Thank you <a href="https://www.dnd5eapi.co"> www.dnd5eapi.co</a></p>
    <p style="text-align:center">Thank you <a href="https://www.sageadvice.eu/2017/11/27/trivia-quiz-on-5th-edition-dd-rules/"> www.sageadvice.eu</a></p>

    <p style="text-align:center">
        Thank you  <a target="_blank" href="https://icons8.com/icons/set/plus--v1">Plus icon</a> icon by <a target="_blank" href="https://icons8.com">Icons8 &</a>

        <a target="_blank" href="https://icons8.com/icons/set/minus--v2">Minus icon</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    </p>

</div>

<div class="row">
    <div class="col-lg-8">
        <h3>If you want to know more about the website and what does it offer, please click <a href="/Home/About">here</a></h3>
    </div>
</div>
