
@{
    ViewBag.Title = "External Resources";
}

    <body style="background-image: url(https://www.aier.org/wp-content/uploads/2019/04/stackofbooks.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    ">
    </body>
<style>
    p{
        font-style:italic;
    }
</style>
    <div class="jumbotron" style="background: white">
        <h1>Additional Resources</h1>

        <p>Here we have a collection of useful resources produced by Wizards of the Coast (WotC), and other members or groups of the Dungons and Dragons community!</p>

        <h3><a href="https://dnd.wizards.com/articles/features/basicrules">Offical WotC Rules Website</a></h3>

        <p>This is the offical page put out by WotC that has many of the most basic rules available online. Very useful for beginners and experts alike!</p>

        <h3><a href="https://dnd.wizards.com/products/tabletop-games/trpg-resources/trpg-resources">WotC Character Sheets and Pregenerated Characters</a></h3>

        <p>This is another official page, but more focused upon the individual player rather than the game itself. It has blank sheets alongside some recommended prebuilt characters for those who want to jump right in. Absolutely fantastic for beginners.</p>

        <h3><a href="https://roll20.net/">Roll20</a></h3>

        <p>Roll 20 is a great tool for those who can't play with people in person, providing many tools and features for gameplay accross the web.</p>

        <h3><a href="http://www.dmsguild.com/">Dm's Guild</a></h3>

        <p>Officially supported by WotC, the Dungeon Master's Guild is a website where amatuers can create and possibly even sell their own custom content. Looking to spice up your game? Try the Guild.</p>

        <h3><a href="http://kobold.club/fight/#/encounter-builder">Kobold Fight Club</a></h3>

        <p>An amazing resource for building an adventure on the spot or ahead of time, Kobold Fight Club provides an incredibly customizable encounter builder with filtering functionality as well as an automatic difficulty calculator</p>

    </div>

