
@{
    ViewBag.Title = "FAQ";
}

<body style="background-image:url('/Content/image/FAQBack.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    ">
</body>


<style>


    h1 {
        border: double;
        border-color: #023f05;
        border-width: 20px;
        padding: 5px;
        background-color: #49563b;
        display: inline-table;
        color: #4a83c8;
        font-family:fantasy;
      
    }

    h3 {
        border: double;
        border-color: #023f05;
        border-width: 20px;
        padding: 5px;
        background-color: #49563b;
        display: inline-grid;
        color: #4a83c8;
        font-family: fantasy;
    }

    div.aboutUS {
        border: dotted;
        border-color: #023f05;
        border-width: medium;
        background-color: #49563b;
        display: inline-grid;
        color: #4a83c8;
        font-family: 'Traditional Arabic';
        font-size: medium;
    }

    div.site {
        border: dotted;
        border-color: #023f05;
        border-width: medium;
        background-color: #49563b;
        display: inline-grid;
        color: #4a83c8;
        font-family: 'Traditional Arabic';
        font-size: medium;
        padding:5px;
    }


    div.ddBlock {
        border: dotted;
        border-color: #023f05;
        border-width: medium;
        background-color: #49563b;
        display: inline-grid;
        color: #4a83c8;
        font-family: 'Traditional Arabic';
        font-size: medium;
        padding: 5px;
    }


    div.claim {
        border: dotted;
        border-color: #023f05;
        border-width: medium;
        background-color: #49563b;
        display: inline-grid;
        color: #4a83c8;
        font-family: 'Traditional Arabic';
        font-size: medium;
        padding:5px;
    }

  

</style>






    <h1>FAQ - This is a space for the questions asked by users of the website to be answered</h1>
    <p>
    <h3>Questions about us</h3>
     </p>
    <div class="aboutUS">
    
        <p> You can see a small description about us on the About page.
        </p>
     </div>



    <p>
    <h3>Questions about the website</h3>
    </p>

    <div class="site">
        <h4>What is the purpose behind the site?</h4>
        <p>We are all computer science students as well as fans of gaming in a general sense, and we saw the need within the Dungeons and Dragons community for a tool for dungeon masters to help them run their games, and so we took it upon ourselves to take the opportunity presented to us to meet this need.</p>

        <p>At this point we don't have too many plans for this project beyond its most basic completion.</p>
    </div>

    <p>
    <h3>Questions about Dungeons and Dragons</h3>
    </p>

    <div class="ddBlock">
    
        <p>A Brief History of Dungons and Dragons</p>
        <p>Originally called Chainmail, its creator Gary Gygax quickly began altering it towards what we see today. Initially, the game faced controversy over its depictions of demons and the like, being publicly accused of being satanic. In response, much of the game was ‘cleaned up’. Time passed and the game was further refined even as it faced financial difficulties. Eventually the game got remade to a certain degree, simplifying and streamlining many things into the modern fifth edition we have today.</p>
        </div>

    <p>
        <h3>Questions about miscellaneous things</h3>
    </p>

    <div class="claim">
        <p>This project makes no claim over the dungeons and dragons brand. All content in regards therof is owned by Wizards of the Coast</p>

        <button><a href="https://dnd.wizards.com/">Please support them, and thus the game we love.</a></button>
        </div>


