
@{
    ViewBag.Title = "FAQ";
}

<h1>FAQ - This is a space for the questions asked by users of the website to be answered</h1>

<h3>Questions about us</h3>

<h3>Questions about the website</h3>

<h3>Questions about Dungeons and Dragons</h3>

<h3>Questions about miscellaneous things</h3>

