
<style>
    h1 {
        background-color: #715252;
        border-style:groove;
        border-color: #2c447d;
        border-width: 16px;
        padding-left: 35px;
        padding-right: 35px;
        display: inline-table;
        font-family:SimSun;
        margin-left: 165px;
        font-size:40px;
        color:#ebe6e6;
    }

    div.col-md-4{
        padding-top:30px;
    }

    h2 {
        border: groove;
        border-color: #2c447d;
        border-width: thick;
        background-color: #715252;
        display: inline-block;
        padding: 5px;
        color: #ebe6e6;
        
    }
    p.currently {
        background-color: #4c4747;
        color: #ebe6e6;
        border: dashed;
        border-color: #2c447d;
        border-width: thick;
    }

    p.come {
        background-color: #4c4747;
        color: #ebe6e6;
        border: dashed;
        border-color: #2c447d;
        border-width: thick;
    }

    p.monsterImage {
        border: ridge;
        display: inline-table;
        border-width: 30px;
        border-color: #2c447d;
    }


</style>




<body  class="homeStyle" style="background-image:url('/Content/image/home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    ">

</body>



    <h1>All your game tools in one location!</h1>


<div class="Silver">
    <div class="col-md-4">
        <h2>What we have currently</h2>
        <p class="currently">
            We currently host the ability for you to login to search our database of our awesome monsters found in the various 
            Dungeons and Dragons 5e books. We have spells, equiment that is also based off the book. Login users can leave
            comments about our webiste, contact us, game link in your profile, and many more so check it out!

            Create an account or login using various social media credentials! It is free and allows you to access all the various features we offer.
        </p>
    </div>



    <div class="col-md-4">
        <p class="monsterImage">
            <image src="https://drive.google.com/uc?export=view&id=1wC8kNI0Y5j_G8CcaH6ETRtIj0SfFnkib" Height="300px" Width="300px" />
        </p>
    </div>




    <div class="col-md-4">
        <h2>Whats to come?</h2>
        <p class="come">
        Many more features than we currently have!
        </p>
    </div>
</div>