@{
    ViewBag.Title = "Home Page";
}

<body style= "background-image: url(https://storage.needpix.com/rsynced_images/dark-brown-background-1450781607k3z.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        "></body>


<div class="jumbotron">
    <h1>All your game tools in one location!</h1>
</div>

<div class="Silver">
    <div class="col-md-4">
        <h2>What we have currently</h2>
        <p>
            We currently host the ability for you to login to search our database of our awesome monsters found in the various 
            Dungeons and Dragons 5e books. We will be adding to the database as we go! 

            Create an account! It is free and allows you to access all the various features we offer.
        </p>
    </div>
    <div class="col-md-4">
            <image src="https://drive.google.com/uc?export=view&id=1wC8kNI0Y5j_G8CcaH6ETRtIj0SfFnkib" Height="300px" Width="300px" />
    </div>
    <div class="col-md-4">
        <h2>Whats to come?</h2>
        <p>A more flushed out database with the ability to also search spells! Generating maps, rolls, 
        and adding more search options to help our users find what they need.</p>
    </div>
</div>