
@{
    ViewBag.Title = "Tutorial";
}

    <body style="background-image: url(https://get.pxhere.com/photo/game-play-number-recreation-playing-object-paper-board-game-font-sports-fantasy-die-games-dice-dragons-dice-game-rpg-eight-ball-indoor-games-and-sports-tabletop-game-dungeons-d20-player-sheet-girly-dice-pink-dice-purple-dice-931356.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    ">
    </body>

    <style>
        p{
            font-family:'Times New Roman';
        }
    </style>
    
    <div class="jumbotron" style="background:white">
        <h1>Some Basic tips</h1>

        <p>Dungeon’s and Dragons is a collaborative role-playing game where you and some friends or potential friends (Strangers) gather around in order to essentially tell a grand adventure story together. The gameplay is one-part war game, one-part improv session, with the “Dungeon Master”, or DM, serves as both referee and narrator, guiding the path the game takes in ways ranging from subtle to obtuse. The DM also controls every entity within the game that is not a player character, pitting the players against monsters of all kinds imaginable, mostly with lots and lots of dice rolls. But how does one play this game in the first place?</p>

        <p>0) Rule Zero – Rule zero is something that often goes unspoken but can be very important with some groups, and it merely states that all other rules are flexible to the group’s true desires: enjoyment. Just because something is in the rules doesn’t mean that the Wizards of the Coast will break into your house should you choose to do something else that makes more sense in the moment or take a shortcut to assist in the playing of the game. Of course there are many groups that do wish to play hard and fast by the rules, as they are very useful for creating a challenging experience, and this is equally as valid. Just know that this is something you might want to discuss with your group members so that there are no hurt feelings. What exactly do you want out of this game?</p>

        <p>1) In general, dungeons and dragons is played with storytelling, with there being fewer set actions than a normal game (at least outside of combat). A player may perform any action they wish, but it is up to the Dungeon Master to assign the impacts of that action to the game.</p>
        <p>2) For almost every action in the game, it’s impact will be determined by the roll of a dice, its result going through some basic calculations before the DM determines the result. Looking at a wall for traps? The DM can choose to use that player’s perception or investigation, usually whichever would make more sense (This is where the storytelling magic happens!)</p>
        <a href="https://dnd.wizards.com/articles/features/basicrules">Click here for the Official Guide for the Basics</a>
    </div>
        