
@{
    ViewBag.Title = "Tutorial";
}

<body style="background-image:url('/Content/image/tutorial.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    ">
    <link href="~/Content/tutorialStyle.css" rel="stylesheet" type="text/css" />

</body>



<h1>Some Basic Tips</h1>

<pre>Dungeon’s and Dragons is a collaborative role-playing game where you and some friends or potential friends (Strangers) gather around in order to essentially tell 
        a grand adventure story together. The gameplay is one-part war game, one-part improv session, with the “Dungeon Master”, or DM, serves as both referee and narrator, 
        guiding the path the game takes in ways ranging from subtle to obtuse. The DM also controls every entity within the game that is not a player character, 
        pitting the players against monsters of all kinds imaginable, mostly with lots and lots of dice rolls. But how does one play this game in the first place?</pre>

<p>0) Rule Zero – Rule zero is something that often goes unspoken but can be very important with some groups, and it merely states that all other rules are flexible to the group’s true desires: enjoyment. Just because something is in the rules doesn’t mean that the Wizards of the Coast will break into your house should you choose to do something else that makes more sense in the moment or take a shortcut to assist in the playing of the game. Of course there are many groups that do wish to play hard and fast by the rules, as they are very useful for creating a challenging experience, and this is equally as valid. Just know that this is something you might want to discuss with your group members so that there are no hurt feelings. What exactly do you want out of this game?</p>

<p>1) In general, dungeons and dragons is played with storytelling, with there being fewer set actions than a normal game (at least outside of combat). A player may perform any action they wish, but it is up to the Dungeon Master to assign the impacts of that action to the game.</p>
<p>2) For almost every action in the game, it’s impact will be determined by the roll of a dice, its result going through some basic calculations before the DM determines the result. Looking at a wall for traps? The DM can choose to use that player’s perception or investigation, usually whichever would make more sense (This is where the storytelling magic happens!)</p>

<button class="styleButton">
    <a href="https://dnd.wizards.com/articles/features/basicrules">Click here for the Official Guide for the Basics</a>
</button>


<h1>Video Tutorials</h1>

<h2> First Step</h2>
<P>
    This tutorial is the first video that should be watched to understand the process of what should be done first when visiting our site.
    We have broken down the steps and showed a deomonstration of how to do each step.
    <button class="styleButton">
        <a href="https://youtu.be/hnFZS_VeCM0">Click here to view video</a>
    </button>
</P>


<h2> Additional Tabs and Contact Form</h2>
<P>
    This tutorial is to show our viewrs all of our other webpages that we contian: About page, FAQ, Additoinal Resources, and Acknowledgement page.
    We talk about the pages in a small detial for each page to explain what is the prupose of these webpages.
    We then start a demonstration on how to use the contact form and what will happen when you click submit. If you want to know what happens, watch the video.
    <button class="styleButton">
        <a href="https://youtu.be/6Z1b35mgbU0">Click here to view video</a>
    </button>
</P>

<h2> Creating Blog Post</h2>
<P>
    This tutorial is about introducting our blog posting page, where you can create posts to be posted on our site so that other viewers can see what other users
    say about their experience. We also encourge that you do not post any negative comments or else it will be removed. Be courtesy of other players.
    We deomstrate the process of each step that needs to be done and handled to submit the post.
    <button class="styleButton">
        <a href="https://youtu.be/_4uIIiS01FQ">Click here to view video</a>
    </button>
</P>


<h2> Search Engines</h2>
<P>
    This tutorial is show our viewers our search engines that we have integrated in our webiste. We want to allow loged in users to have access to our searches 
    to be able to search any Monster, Spell, and Equitment that we have in our database. We demonstrate how to use it, what features it contains as well, and we show 
    the results it has after being displayed in the search bar. We go throguh each serach engine that we have,so, take a look and see what it can do.
    <button class="styleButton">
        <a href="https://youtu.be/ja434axPMsU">Click here to view video</a>
    </button>
</P>


<h2>D&D Toolkit Game Feature</h2>
<P>
    This tutorial talks and demonstrates our main feature of our webiste, The Game. We wanted to allow other D&D Players to be able to interact online and have 
    fun with other D&D players. We demonstrate where you need to go to find the game section, we then show you each step to create one for your use. We shouw each 
    feature that it contains and how it will be used. We should each type of field that needs to be filled out  and how you can make it in your own personal view. We 
    want our viewers to enjoy and have fun wtih our game feature that we have provided. Also, we hope you enjoy these tutorials and that it will benefit you on how to
    use our webiste, Thank you :) !
    <button class="styleButton">
        <a href="https://youtu.be/0Hf8L5JEHiM">Click here to view video</a>
    </button>
</P>

