
@{
    ViewBag.Title = "Tutorial";
}

    <body style="background-image: url(https://get.pxhere.com/photo/game-play-number-recreation-playing-object-paper-board-game-font-sports-fantasy-die-games-dice-dragons-dice-game-rpg-eight-ball-indoor-games-and-sports-tabletop-game-dungeons-d20-player-sheet-girly-dice-pink-dice-purple-dice-931356.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    ">
        <div class="jumbotron" style="background:white">
            <h1>Tutorial</h1>

            <p>need to implement system first to demo it. need more to walk the player through things accurately</p>
        </div>
        