@{
    ViewBag.Title = "Home Page";
}

<body style="background-image: url(https://wallpapercave.com/wp/wp2046110.jpg);
      background-repeat: no-repeat; background-size: cover;">
</body>

<div class="jumbotron">
    <h1>Just Keep Swimming! blarg</h1>
    <p class="lead">With our coaches we will help you find the right team and allow you to accomplish your fastest swim times.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Make an account with us and start scoping out teams, coaches and their basic information. Go ahead and email or call our
            coaches to see if they have a spot for you.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Become part of the family</h2>
        <p>Everyone here is apart of a family that encourages growth, leadership, and teamwork.</p>
    </div>
    <div class="col-md-4">
        <h2>Go all the way!</h2>
        <p>
            We send some of our best swimmers off to the national swim meets! Grow and become apart of our elite swim team. Think your already there?
            Check out our swim times above!
        </p>
    </div>
</div>