@model DDToolKit.Models.Creature

@{
    ViewBag.Title = "Adding Monsters";

}


<h1 style="font-family:Algerian; text-align:center;">Monsters Dropdown List</h1>
<div class="row">
    <div class="col-lg-6">
        <p>Monsters Dropdown List :)</p>
    </div>

    <div class="col-lg-6">

    </div>
</div>



<div class="row">
    <div class="col-lg-6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.DropDownList("names", null, htmlAttributes: new { @class = "form-control" })
            </div>

        }
    </div>

    <div class="col-lg-6">
        <p>Here you can view list of monsters!!</p>
    </div>
</div>


