


@{
    ViewBag.Title = "EquipmentInfo";
}


@if (ViewBag.Success == true)
{
    <table>
        <tr>
            @if (ViewBag.name != null)
            {
                <th>Name</th>
            }

            @if (ViewBag.equipCategory != null)
            {
                <th>Equip Category</th>
            }

            
            
                <th>Description</th>
            
        </tr>
        <tr>
            <td>@ViewBag.name</td>
            <td>@ViewBag.equipCategory</td>
           @if (ViewBag.desc != null)
           {
               foreach (var item in ViewBag.desc)
               {
                   string description = item.ToString();
                <td>@description</td>
               }
           }
        </tr>
    </table>
    

}