

@{
    ViewBag.Title = "Equipment";
}

@Styles.Render("~/Content/Equip.css")

<body style="background-image: url(https://storage.needpix.com/rsynced_images/wood-1759566_1280.jpg);
        background-repeat: no-repeat;
        background-size: cover;
">
</body>



@using (Html.BeginForm("Index", "Equipment", FormMethod.Post))
{
    <div class="row">

        <h1 class="equipIndex">Welcome to the equipment page!</h1>

        <div class="col-lg-4">

        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <div class="search text-center">
                    @Html.TextBox("equipName", null, new { @class = "form-control", type = "text", placeholder = "Search for an equipment name", id = "smartEquip" })
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </div>
        </div>

        <div class="col-lg-4">

        </div>




    </div>


}

<div class="container" style="text-align:center">
    @if (ViewBag.Success == true)
    {
        foreach (var item in ViewBag.EquipList)
        {
            string Equipment = item.ToString();
            <h3 class="equipResult"><a class="linkColor" href="/Equipment/equipInfo?equipName=@Equipment">@Equipment</a></h3>
        }

    }
</div>

@section scripts{
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="~/Scripts/EquipSmartSearch.js"></script>

}