h1 {
    background-color: #b7a189;
    color: #516b1e;
    border-style: ridge;
    border-color: #8e9610;
    border-width: 15px;
    padding-left: 35px;
    padding-right: 35px;
    display: inline-table;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    margin-left: 355px;
}

h2 {
    background-color: #b7a189;
    color: #516b1e;
    border-style: ridge;
    border-color: #8e9610;
    border-width: thick;
    padding-left: 35px;
    padding-right: 35px;
    display: inline-table;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    margin-left: 420px;
    font-size: 38px;
}

h3 {
    background-color: #b7a189;
    color: #516b1e;
    border-style: ridge;
    border-color: #8e9610;
    border-width: thick;
    padding-left: 35px;
    padding-right: 35px;
    display: inline-table;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    margin-left: 385px;
    font-size: 38px;
}

h4 {
    background-color: #b7a189;
    color: #516b1e;
    border-style: ridge;
    border-color: #8e9610;
    border-width: thick;
    padding-left: 35px;
    padding-right: 35px;
    display: inline-table;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    margin-left: 450px;
    font-size: 38px;
}

h5 {
    background-color: #b7a189;
    color: #516b1e;
    border-style: ridge;
    border-color: #8e9610;
    border-width: thick;
    padding-left: 35px;
    padding-right: 35px;
    display: inline-table;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    margin-left: 420px;
    font-size: 38px;
}

h6 {
    background-color: #b7a189;
    color: #516b1e;
    border-style: ridge;
    border-color: #8e9610;
    border-width: thick;
    padding-left: 35px;
    padding-right: 35px;
    display: inline-table;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    margin-left: 425px;
    font-size: 38px;
}

div.firstP {
    background-color: #b7a189;
    color: #516b1e;
    border-style: dashed;
    border-color: #8e9610;
    border-width: thick;
    padding-left: 35px;
    padding-right: 35px;
    display: inline-table;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 16px;
    margin-left: 55px;
}

div.secondP {
    background-color: #b7a189;
    color: #516b1e;
    border-style: dashed;
    border-color: #8e9610;
    border-width: thick;
    padding-left: 35px;
    padding-right: 35px;
    display: inline-table;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 16px;
    margin-left: 85px;
}

div.thirdP {
    background-color: #b7a189;
    color: #516b1e;
    border-style: dashed;
    border-color: #8e9610;
    border-width: thick;
    padding-left: 35px;
    padding-right: 35px;
    display: inline-table;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 16px;
    margin-left: 45px;
}

div.fourthP {
    background-color: #b7a189;
    color: #516b1e;
    border-style: dashed;
    border-color: #8e9610;
    border-width: thick;
    padding-left: 35px;
    padding-right: 35px;
    display: inline-table;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 16px;
    margin-left: 100px;
}

div.fifthP {
    background-color: #b7a189;
    color: #516b1e;
    border-style: dashed;
    border-color: #8e9610;
    border-width: thick;
    padding-left: 35px;
    padding-right: 35px;
    display: inline-table;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 16px;
    margin-left: 25px;
}

div.sixthP {
    background-color: #b7a189;
    color: #516b1e;
    border-style: dashed;
    border-color: #8e9610;
    border-width: thick;
    padding-left: 35px;
    padding-right: 35px;
    display: inline-table;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 16px;
    margin-left: 25px;
}


button.first {
    margin-left: 325px;
}

button.second {
    margin-left: 300px;
}

button.third {
    margin-left: 375px;
}

button.four {
    margin-left: 430px;
}

button.five {
    margin-left: 400px;
}
