h1 {
    background-color: #715252;
    border-style: groove;
    border-color: #2c447d;
    border-width: 16px;
    padding-left: 35px;
    padding-right: 35px;
    display: inline-table;
    font-family: SimSun;
    margin-left: 165px;
    font-size: 40px;
    color: #ebe6e6;
}

div.col-md-4 {
    padding-top: 30px;
}

h2 {
    border: groove;
    border-color: #2c447d;
    border-width: thick;
    background-color: #715252;
    display: inline-block;
   
    color: #ebe6e6;
    
}
h3 {
    border: groove;
    border-color: #2c447d;
    border-width: thick;
    background-color: #715252;
    display: inline-block;
    padding: 5px;
    color: #ebe6e6;
    margin-left: 70px;
}

p.currently {
    background-color: #4c4747;
    color: #ebe6e6;
    border: dashed;
    border-color: #2c447d;
    border-width: thick;
}

p.come {
    background-color: #4c4747;
    color: #ebe6e6;
    border: dashed;
    border-color: #2c447d;
    border-width: thick;
    margin-left:70px;
}

p.monsterImage {
    border: ridge;
    display: inline-table;
    border-width: 30px;
    border-color: #2c447d;
}
