body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.Silver{
    color: silver;
}

.login{
    position: absolute;
    top: 0;
    right: 0;
}

.overlay{
    display:block;
    width: inherit;
    height: inherit;
}
/*this starts here*/
.jumbotron MonsterName {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: black;
}

.jumbotron p{
    color: black;
}

.MonsterColumn{
    float: left;
    width: 16%;
}

.MBR{
    display: block;
    content: "";
    margin-top: 0;
}

.taper {
    border-top: solid 3px transparent;
    border-left: solid 315px #a52a2a;
    border-bottom: solid 3px #a52a2a;
    border-right: solid 315px transparent;
    margin: 5px 0px 5px 0px;
}
/*ends here*/
